$primary: #005eb8;
$secondary: #04254e;
$yellow: #ffd703;
$red: #fe067d;
$orange: #ff6d03;
$blue: #1464c4;
$info: #1890ff;
$green: #31CF55;

$background-color: #ffffff;
$text-color: #424242;
$default-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
